@import "tailwindcss";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --breakpoint-xs: 375px;
  --color-offwhite: #fcfdfe;
}

@layer utilities {
  .scrollbar-hide {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scroll-fade {
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4rem;
    background-image: linear-gradient(
      to top,
      var(--color-offwhite),
      var(--color-offwhite),
      transparent
    );

    [data-theme="dark"] & {
      background-image: linear-gradient(
        to top,
        var(--color-mist-900),
        var(--color-mist-900),
        transparent
      );
    }
  }
}

@layer base {
  html {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }
}
